*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-image: url('https://i.pinimg.com/236x/cd/1d/43/cd1d43a6922fc6eab2f91a04d3dd7f24.jpg');
    font-family: Arial;
    font-size: 10px;
    font-family: 'Balsamiq Sans', cursive;
  }
@media(min-width: 400px){
  body{
    font-size: 14px;
  }

} 
@media(min-width: 600px){
  body{
    font-size: 18px;
  }
} 

header{
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items:center;
}

  .menu{
    background-color:#fffdd0;
    position: fixed;
    width: 100vw;
    top: 0;
  }
  .menu li {
    list-style:none;
  }
  .menu ul{
    display:flex;
    justify-content: space-around;
  }
  a {
   color:gray;
  }

  .menu a{

    padding: 14px;
  }
  .fundinho{ 
     background-image: url('https://cdn.discordapp.com/attachments/604096416234602499/710477172456030218/7b8f05051fddcadf6851adf5003ed955.jpg');
   }
    @media (min-width 780px){.fundinho{
      height: 1200;
      width: 780;
   background-size: cover;
    background-image: url('https://cdn.discordapp.com/attachments/604096416234602499/710477172456030218/7b8f05051fddcadf6851adf5003ed955.jpg');
  }
  }
  

  .site-title {
    
    text-align: center;
    font-size: 4em;
    font-family: 'Poiret One', cursive;
    
  }
  .site-subtitle{
    text-align: center;
    line-height: 1.3em;
    font-family: 'Baloo Da 2', cursive;
    color: brown ;

  }
  .portifolio{
    
    padding: 2em;
  }
  .portifolio h2{
    font-family: 'Baloo Da 2', cursive;
    margin-bottom: 1.5em;
    font-size: 2em;
  }
  .portifolio figure{
    text-align: center;

  }
  
  .img-portfolio{
    height: 180px;
    width: 250px;
  }
  .dino{
    width: 450px;
    height: 300px;
    background-image: url('https://media.discordapp.net/attachments/604096416234602499/710175247709503518/STK-20200513-WA0011.webp?width=422&height=422');
    
  }
  .portifolio .grid{
    display: grid;
    gap: 3em;
   
  }
  @media (min-width: 580px ) {
    .portifolio .grid{
      grid-template-columns: 240px 240px;
  }
  @media (min-width: 880px ) {
    .portifolio .grid{
      grid-template-columns: repeat(3, 260px);
      justify-content: center;
  }